*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
    color:#333;
    background: #DFDFDF;

}

#container{
    margin:0 auto;
    padding:0;
    width: 70%;
    border: 4px solid black;
}

#cabecera{
    background: crimson;
    margin:0;
    text-align: left;
    font-weight: bold;
    padding: 0.5em;
    color:rgb(253, 253, 253);
}
ol li {
    margin-top: 5px;
    list-style: none;
    padding:2px;
    letter-spacing: 1px;
    font-size: 13px;
    color:inherit;
}



#cabecera #logo {
    width: 50px;
    vertical-align: middle;    
    } 

  #cabecera #tagline{
         margin:  0 0 0 1em;
         font-weight: normal;
         font-size: 0.8em;
    }

#post{
    background-color: white;
    padding: 1em;
}