*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


#container{
    margin:0 auto;
    padding:0;
    width: 70%;
    border: 2px solid black;
    color:black;

    
    
}
ol li {
    margin-top: 5px;
    list-style: none;
    letter-spacing: 1px;
    color:indianred;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cabecera{
    background: crimson;
    margin:0;
    text-align: left;
    font-weight: bold;
    padding: 0.5em;
    color:rgb(253, 253, 253);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #cabecera #tagline{
         margin:  0 0 0 1em;
         font-weight: normal;
         font-size: 0.8em;
    }